body {font-family: "Lato", sans-serif}
.mySlides {display: none}

span.w3-wide    {
    color:rgb(199, 6, 45)
}

a{
    color:rgb(39, 176, 180)
}

a:hover{
    background-color: lightblue;
}

.text {
    color: rgb(33, 46, 105);
}

@media screen and {max-width: 700px) {
    body {
        background-color: blue;
    }   
    }   
